<p id="notice"><%= notice %></p>

<h1>Peran</h1>

<table>
  <thead>
    <tr>
      <th>Nama peran</th>
      <th>Keterangan</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @peran.each do |peran| %>
      <tr>
        <td><%= peran.nama_peran %></td>
        <td><%= peran.keterangan %></td>
        <td><%= link_to 'Show', peran %></td>
        <td><%= link_to 'Edit', edit_peran_path(peran) %></td>
        <td><%= link_to 'Destroy', peran, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Peran', new_peran_path %>
