<p id="notice"><%= notice %></p>

<p>
  <strong>Judul:</strong>
  <%= @laporan_penyuluh_agama_katolik.judul %>
</p>

<p>
  <strong>Keterangan:</strong>
  <%= @laporan_penyuluh_agama_katolik.keterangan %>
</p>

<p>
  <strong>Tautan:</strong>
  <%= @laporan_penyuluh_agama_katolik.tautan %>
</p>

<%= link_to 'Edit', edit_laporan_penyuluh_agama_katolik_path(@laporan_penyuluh_agama_katolik) %> |
<%= link_to 'Batal', laporan_penyuluh_agama_katolik_index_path %>
