<p>
  <strong>Nama lengkap:</strong>
  <%= @user.nama_lengkap %>
</p>

<p>
  <strong>Peran:</strong>
  <%= @user.peran.nama_peran %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
