<%= form_with(model: data_keagamaan_katolik, local: true) do |form| %>
  <% if data_keagamaan_katolik.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(data_keagamaan_katolik.errors.count, "error") %> prohibited this data_keagamaan_katolik from being saved:</h2>

      <ul>
      <% data_keagamaan_katolik.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :judul %>
    <%= form.text_field :judul %>
  </div>

  <div class="field">
    <%= form.label :keterangan %>
    <%= form.text_field :keterangan %>
  </div>

  <div class="field">
    <%= form.label :tautan %>
    <%= form.text_field :tautan %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
