<p>
  <strong>Judul:</strong>
  <%= @data_keagamaan_katolik.judul %>
</p>

<p>
  <strong>Keterangan:</strong>
  <%= @data_keagamaan_katolik.keterangan %>
</p>

<p>
  <strong>Tautan:</strong>
  <%= @data_keagamaan_katolik.tautan %>
</p>

<p>
  <strong>Pembuat:</strong>
  <%= @data_keagamaan_katolik.user.nama_lengkap %>
</p>

<%= link_to 'Edit', edit_data_keagamaan_katolik_path(@data_keagamaan_katolik) %> |
<%= link_to 'Back', data_keagamaan_katolik_index_path %>
