<p id="notice"><%= notice %></p>

<p>
  <strong>Judul:</strong>
  <%= @data_pendidikan_agama_katolik.judul %>
</p>

<p>
  <strong>Keterangan:</strong>
  <%= @data_pendidikan_agama_katolik.keterangan %>
</p>

<p>
  <strong>Tautan:</strong>
  <%= @data_pendidikan_agama_katolik.tautan %>
</p>

<%= link_to 'Edit', edit_data_pendidikan_agama_katolik_path(@data_pendidikan_agama_katolik) %> |
<%= link_to 'Back', data_pendidikan_agama_katolik_index_path %>
